<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "taskscript" %>
<% @tasks.each do |task| %>
    <div id="task_<%=task.id %>" class="div_task"  >
    <div id="dispaly_text_div">
        <p><%= task.task%>
          <br>
                 <p style="word-wrap: break-word;color:#ccc;font-size: 12px;margin-bottom:8px;"><%= time_ago_in_words(task.created_at)%></p>
           </p>
    </div>
    <div id="icon_img">
            <button class="img_up" onclick="image_up(<%=task.id %>)" data-id=<%=task.id %> data-user_id=<%=task.users_id%> data-order_id=<%=task.task_order%>></button>
            <button class="img_down" onclick="image_down(<%=task.id %>)" data-id=<%=task.id %> data-user_id=<%=task.users_id%> data-order_id=<%=task.task_order%>></button>

          <button class="img_close" onclick="delete_req(<%=task.id %>)" data-id="<%=task.id %>" data-user_id=<%=task.users_id%>></button>

            <%if(task.status==0) %>
                     <button class="img_done" onclick="image_done(<%=task.id %>,<%=task.users_id %>)" data-id=<%=task.id %> data-user_id=<%=task.users_id%>> </button>
            <%else%>
                     <button class="img_ok" onclick="image_ok(<%=task.id %>,<%=task.users_id %>)" data-id=<%=task.id %> data-user_id=<%=task.users_id%>> </button>
             <%end%>
        <!--delete div-->
              <div class="delete_div" id="delete_<%= task.id %>">
                <p id="delete_text">Are you sure you want to delete this entry?</p>
                <div class="pull-right">
                  <button id="delete_task" onclick="delete_task(<%=task.users_id%>,<%= task.id %>)">Yes</button>
                  <button id="cancel_delete" onclick="cancel_delete(<%=task.id %>)">No</button>
                </div>
              </div>
            </div>
      </div>
    <%end%>
<%= will_paginate @tasks, :id=>'page-nav' %>
<%= javascript_include_tag "masonry" %>
<%= javascript_include_tag "jquery.infinitescroll" %>


