<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "taskscript" %>
<%if @tasks.length==0%>
   No Tasks
<%end%>
  <% @tasks.each do |task| %>
    <div id="task_<%=task.id %>" class="div_task" >
      <div id="dispaly_text_div">
        <p id="c"><%=link_to "#{task.task}",user_task_path(@u_id,task),:style => "width:70%;font-size: 16px;color: #34495e"%>
          <br/>
        <p style="word-wrap: break-word;color:#ccc;font-size: 12px;margin-bottom:-4px;"> by <%= (task.user.name)%></p>
        </p>
        <p style="word-wrap: break-word;color:#ccc;font-size: 12px;margin-bottom:-8px;"><%=(task.created_at).strftime("%I.%P,  %d %b %Y")%></p>
        <p>
        </p>
      </div>
      <div id="icon_img">
        <%if task.status==0 %>
          <button class="img_up" onclick="image_up(<%=task.id %>)" data-id=<%=task.id %> data-user_id=<%=task.user_id%>></button>
          <button class="img_down" onclick="image_down(<%=task.id %>)" data-id=<%=task.id %> data-user_id=<%=task.user_id%>></button>
        <%end%>
        <button class="img_close" onclick="delete_req(<%=task.id %>)"data-id="<%=task.id %>" data-user_id=<%=task.user_id%>></button>

        <%if(task.status==0) %>
          <button class="img_done" onclick="image_done(<%=task.id %>,<%=task.user_id %>)"  data-id=<%=task.status %> data-user_id=<%=task.user_id%>> </button>
        <%else%>
          <button class="img_ok" onclick="image_ok(<%=task.id %>,<%=task.user_id %>)" data-user_id=<%=task.user_id%> <%=task.status %> > </button>
        <%end%>
        <!--delete div-->
        <div class="delete_div" id="delete_<%= task.id %>">
          <p id="delete_text">Are you sure you want to delete this entry ?</p>
          <div class="pull-right">
            <button id="delete_task "  style="margin-top: -182px;width: 79px;background-color: white;border-style: none;border: 1px solid #cccccc;" onclick="delete_task(<%=task.user_id%>,<%= task.id %>)">Yes</button>
            <button id="cancel_delete" onclick="cancel_delete(<%=task.id %>)">No</button>
          </div>
        </div>
      </div>
    </div>
  
<%end%>
<%= will_paginate @tasks, :id=>'page-nav' %>
<%= javascript_include_tag "masonry" %>
<%= javascript_include_tag "jquery.infinitescroll" %>

