
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "todo_css" %>
<%= javascript_include_tag "modal_jss" %>
<%= javascript_include_tag "taskscript" %>
<%= javascript_include_tag "flat-ui" %>
<%= stylesheet_link_tag "bootstrap" %>
<%= stylesheet_link_tag "flat-ui" %>
<%= javascript_include_tag "taskscript" %>
<%= stylesheet_link_tag "bootstrap" %>
<%= javascript_include_tag "taskscript" %>
<%= javascript_include_tag "modal_jss" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "slider" %>
<script>
    $(function() {
        $( "#slider" ).slider();
    });
</script>
<div>
  <div class="modal" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"  style="font-family: 'open sans';font-weight: 100;font-size: 20px" id="myModalLabel">Add people to do this task</h4>
        </div>
        <div class="modal-body" style="font-family: 'open sans';font-weight: 100;font-size: 14px" id="modal-body" style="font-size: 16px !important;">
          <h3> <%= render :partial => "sharetaskmodal"  %></h3>
        </div>
        <div class="modal-footer" style="background-color:#ffffff">
          <button type="button" class="save_button" data-dismiss="modal" style="position:relative !important;" onclick="share_task(<%=@task.id%>)">Save</button>
          <button type="button" class="cancel_button" data-dismiss="modal">cancel</button>

        </div>
      </div>
    </div>
  </div>
  <div id="back_button">
    <%=link_to "< Go back to home",tasks_path,:style => "color: #34495e"%>
  </div>
  <div id="comment_hedder">


    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Task</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this entry?&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"  onclick="cancel_delete(<%=params[:id] %>)"><u>No</u></button>
            <button type="button" class="btn btn-primary" onclick="delete_task(<%=params[:user_id]%>,<%= params[:id] %>)">Yes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
       <div id="task_data">
      <p style="font-size:24px;margin-bottom: 10px">
        <%=@task.task %>
       
      </p>
      <p style="word-wrap: break-word;color:#ccc;font-size: 14px;margin-bottom:-5px;"> <span>  <%= (@task.user.name)%><br></span>  <%=(@task.created_at).strftime("%I.%P,%d %b %Y")%></p>
      <button  style="margin-top: -90px;margin-left: 585px;" data-toggle="modal" data-target="#myModal" class="img_close"></button>
    </div>
    <p style="font-size:16px">Task completion</p>
    <div id="slider" data-id="<%= params[:id] %>" data-progress_id="<%=@task.task_progress%>" style="height: 20px;border-radius: 0px;width: 92%">
      <%if(@task.status==0) %>
          <button  id="done" class="img_done" onclick="image_comment_done(<%=@task.id %>,<%=@task.user_id%>)" data-id=<%=@task.id %> data-user_id=<%=@task.user_id%> style="margin-top: -9;margin-left: 564px;"> </button>
      <%else%>
    <script>
      $( "#slider" ).slider({
             disabled: true
      });
    </script>
          <button id="ok"  class="img_ok" onclick="image_comment_ok(<%=@task.id %>,<%=@task.user_id %>)" data-id=<%=@task.id %> data-user_id=<%=@task.user_id%> style="margin-top: -9;margin-left: 564px;"> </button>
      <%end%>
    </div>
    <div id="task_share">
      <p style="font-size:12px;margin:5px 0px 5px  20 ">
      <div id="share_div_partials">
        <%= render :partial => "sharenames"  %>
      </div>
      <% if (@share_check.first.user_id==@u_id)%>
          <input type="button"  id="share_button" data-toggle="modal" data-target="#basicModal" value="share this" onclick="share_task_name_dispaly(<%=@task.id%>)">
      <%end%>
    </div>
  </div>
  <div id="comment_partial_div">
    <%= render :partial => "commentlist"  %>
  </div>
  <div>
    <input id="comment_box"  type="text" name="task" placeholder="Add the comment  Hit 'Enter' to post " data-task_id="<%=@task.id%>"/>
  </div>
</div>