<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "todo_css"%>
<%= javascript_include_tag "bootstrap" %>
<div id="content_align">
<div id="content_area">
  <%unless flash[:notice_login].nil?%>
      
      <div class="alert alert-success" style="position:fixed;top:5px;width:569px;">
        <a class="close" data-dismiss="alert">×</a>
        <%=flash[:notice_login] %>
      </div>
  <%end%>
  <%form_for :user, :controller=>"users",:action=>"changepassoword"  do |f|%>
      <table id="login_panel" class="paswd_bar">
        <tr>

        </tr>
         <tr>
        <td>
          <%= f.label :"Enter password"%>
        </td>
        <td>
          <%= f.password_field :password,:required=>"true",:placeholder=>"Password",:value=>"" %>
        </td>
        </tr>
        <tr>
          <td>
            <%= f.label :"Retype password"%>
          </td>
          <td>
            <%=f.password_field  :password_confirmation,:placeholder=>"Confirm Password",:value=>""%>
          </td>
        </tr>
        <tr>
        <td></td>
        <td>
          <%=f.submit 'Change',:class=>"btns",:style=>"margin-left: 66px;"%>
        </td>
      </tr>
      </table>

  <%end%>
</div>
    </div>