
<%= stylesheet_link_tag "todo_css"%>
<%form_for :user, :controller=>"users",:action=>"login" do |f|%>
    <img id="logo"  src="/images/Logo.png" width="32" />
    <table id="login_panel">

      <tr class="line_color">
        <td class="blink_text">Log in</td></td>
        <td class="rt blink_text fade" > <%= link_to "Sign up", :controller=>"users",:action=>"new" %></td>
      </tr>
      <tr>
           <td>
                <%=f.label :email %>

           </td>
           <td>
                <%=f.text_field :email,:placeholder=>"Email" %>
           </td>
      </tr>
      <tr>
            <td>
                <%=f.label :Password %>
            </td>
            <td>
                <%=f.password_field :password,:placeholder=>"Password"%>
            </td>
      </tr>
      <tr>
        <td></td>
        <td>
                <%=f.submit 'Log in',:class=>"btn"%><u>Forgot password ?</u>
        </td>
      </tr>
    </table>

<%end%>