<link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "todo_css"%>
<div id="content_align">
<% form_for @user do |f| %>
    <%= f.error_messages %>
    <img id="logo"  src="/images/Logo.png" width="32" />
    <table id="signup_panel">
    <div class="line_color_div">
      <tr class="line_color">
        <td><div class="blink_text fade "><%= link_to "Log in", :controller=>"users",:action=>"login" %></div></td>
        <td><div class="rt blink_text"> Sign up </div> </td>
      </tr>
    </div>
      <tr>
        <td>
          <%= f.label :Name %>
        </td>
        <td>
          <%= f.text_field :name,:required=>"true",:placeholder=>"Name" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :Email %>
        </td>
        <td>
          <%= f.text_field :email,:required=>"true",:placeholder=>"Email" %>
        </td>
      </tr>
      <tr>

      <tr>
        <td>
          <%= f.label :Password %>
        </td>
        <td>
          <%= f.password_field :password,:required=>"true",:placeholder=>"Password" %>
        </td>
      </tr>

      <tr>
        <td>
          <%= f.label :Confirm%>
        </td>
        <td>
          <%=f.password_field  :password_confirmation,:placeholder=>"Confirm Password",:required=>"true"%>
        </td>
      </tr>

        <td></td>
        <td>
          <%=f.submit 'Sign up',:class=>"btn"%>
        </td>
      </tr>
    </table>
<%end%>
    </div>


