<%= javascript_include_tag "jquery-2.1.1" %>
<%= javascript_include_tag "script" %>
<%= stylesheet_link_tag "todo_css"%>

<div id="task_body">
  <div id="hedder_div"> <img id="logo_application"  src="/images/Logo.png" width="32" />
  <div id="logout"><%= link_to "Logout", :controller=>"users",:action=>"logout" %></div>
  <div id="name">name</div>
  </div>
  <%= yield %>
</div>