<html>
<head>
  <title>TODO</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "todo_css"%>
  <%= javascript_include_tag "jquery-2.1.1" %>
  <%= javascript_include_tag "icheck" %>
  <%= stylesheet_link_tag "green"%>
  <%= stylesheet_link_tag "bootstrap"%>
  <%= javascript_include_tag "script" %>
</head>
<body>

    <div id="task_body">
      <img id="logo_application"src="/images/Logo.png" width="32" />
        <div id="hedder_div">
          <input type="text" id="search_box" placeholder="Search">
          <img id="search_image" src="/images/ajax-loader.gif">
            <div id="logout"><%= link_to "Logout", :controller=>"users",:action=>"logout" %></div>
            <div id="name"><%=@user.name%><span class="caret"></span></div>
                <div id="name_div" class="bubble">
                    <ul>
                    <li style="color:#999999"><%= @user.email %></li>
                    <li><%= link_to "Change password", :controller=>"users",:action=>"changepassword" %></li>
                    </ul>
                </div>
        </div>
      <div>

      </div>
      <div>
                <%= yield %>
      </div>

    </div>
</body>
</html>